<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="eAccordeon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <eAccordeon.Properties.Settings>
            <setting name="SelectedMidiDeviceId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedPatchId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedRightRegisterId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedLeftRegisterId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PressureFilter" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="ChannelIdForRightSide" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedMidiControllerId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialportController_BaudRate" serializeAs="String">
                <value>57600</value>
            </setting>
            <setting name="SerialportController_PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="TransformPressureMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PressureSensonUpperLimit" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="KeystrokeForce" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="RightHandOctaveShift" serializeAs="String">
                <value>0</value>
            </setting>
        </eAccordeon.Properties.Settings>
    </userSettings>
</configuration>
